body {
  background: url(https://i.imgur.com/zlrPdPY.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  display: flex;
}

.game-header {
  color: black;
  font-size: 70px;
  margin: 0 auto;
  margin-top: 80px;
  font-family: 'Bungee Inline', cursive;
}

main {
  padding-top: 30px;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-right: 85px;
}

.info-container {
  background-color: #856320;
  box-shadow: inset 0 0 10px #000000;
  height: auto;
  width: 200px;
  text-align: center;
  align-self: center;
  padding: 10px 0;
}

#control-header {
  color: yellow;
  font-size: 20px;
  font-family: 'Bungee Inline', cursive;
  margin: 5px 0;
}

.control-list {
  padding: 0;
  margin: 0;
}

.control-list-item {
  list-style: none;
  padding: 5px 10px;
  border: black;
  border-radius: 5px;
  font-family: 'Bungee Inline', cursive;
}

#game-container {
  position: relative;
}

canvas {
  border: 1px solid #000000;
  background: url(https://i.imgur.com/DZtdJ6N.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 10px #000000;
  margin: 0 45px;
}

.game-start-container {
  z-index: 2;
  position: absolute;
  top: 74%;
  left: 8%;
}

.game-instructions {
  z-index: 2;
  position: absolute;
  width: 80%;
  height: auto;
  top: 6%;
  left: 10%;
  background-color: #856320;
  border-radius: 40px;
  text-align: center;
}

.monkey-pics {
  display: flex;
  justify-content: space-evenly;
}

.monkey {
  /* width: 20%;
  height: 17%; */
  width: 150px;
  height: 150px;
}

#game-instructions-info {
  font-size: 30px;
  color: yellow;
  margin-top: 2%;
  margin-bottom: 0;
  font-family: 'Bungee Inline', cursive;
}


#game-start {
  color: white;
  font-size: 67px;
}

.game-scoreboard {
  position: relative;
  bottom: 15%;
  display: flex;
  left: 32%;
}

#game-score {
  margin: 0 auto;
  text-align: center;
  color: white;
  width: 600px;
  z-index: 2;
  font-family: 'Freckle Face', cursive;
  font-size: 50px;
  right: 347px;
  position: absolute;
}

.game-over-container {
  width: 60%;
  top: 6%;
  left: 20%;
  opacity: 0;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  border-radius: 15px;
  background-color: #F5F5F5;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.link-container {
  display: flex;
  flex-direction: column;
  padding: 73px 0;
}

#github-image {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

#linkedIn-image {
  height: 100px;
  width: 100px;
  margin-bottom: 27px;
}

#portfolio-image {
  height: 100px;
  width: 100px;
}


#game-over {
  margin: 0 auto;
  font-size: 50px;
  color: red;
  font-family: 'Freckle Face', cursive;
  padding: 50px;
  margin-top: 15px;
}

audio {
  display: none;
}
