body {
  background: url(https://i.imgur.com/zlrPdPY.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  display: flex;
}

.game-header {
  color: black;
  font-size: 70px;
  margin: 0 auto;
  margin-top: 80px;
  font-family: 'Bungee Inline', cursive;

}

main {
  padding-top: 30px;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-right: 85px;
}

.info-container {
  background-color: #856320;
  box-shadow: inset 0 0 10px #000000;
  height: auto;
  width: 200px;
  text-align: center;
  align-self: center;
  margin-top: 104px;

}

#control-header {
  color: yellow;
  font-size: 20px;
  font-family: 'Bungee Inline', cursive;
  margin: 15px 0;
}

.control-list {
  padding: 0;
  margin: 0;
}

.control-list-item {
  list-style: none;
  padding: 5px 10px;
  border: black;
  border-radius: 5px;
  /* margin-bottom: 20px; */
  font-family: 'Bungee Inline', cursive;

}

canvas {
  border: 1px solid #000000;
  background: url(https://i.imgur.com/DZtdJ6N.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 10px #000000;
  margin: 0 45px;
}

.link-container {
  display: flex;
  flex-direction: column;
  padding: 73px 0;
}

#github-image {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

#linkedIn-image {
  height: 100px;
  width: 100px;
  margin-bottom: 27px;
}

#portfolio-image {
  height: 100px;
  width: 100px;
}

.game-start-container {
  z-index: 2;
  position: absolute;
  top: 575px;
  right: 375px;
}

#game-start {
  color: white;
  font-size: 67px;
}

.game-scoreboard {
  position: relative;
  bottom: 80px;
  display: flex;
  right: 60px;
}

#game-score {
  margin: 0 auto;
  text-align: center;
  color: white;
  width: 600px;
  z-index: 2;
  font-family: 'Freckle Face', cursive;
  font-size: 50px;
  right: 347px;
  position: absolute;
}

.game-over-container {
  width: 40%;
  opacity: 0;
  margin: 0 auto;
  position: absolute;
  left: 436px;
  top: 268px;
  text-align: center;
  height: 330px;
  border-radius: 15px;
  background-color: #F5F5F5;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#game-over {
  margin: 0 auto;
  font-size: 50px;
  color: red;
  font-family: 'Freckle Face', cursive;
  padding: 50px;
  margin-top: 15px;
}

audio {
  display: none;
}

#sound-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 184px;
}

#sound-icon:hover {
  cursor: pointer;
}
